    <form class="form-horizontal" method="post" action="">
            <div class="form-group">
				<p>Title</p>
                <input type="text" name="title" class="form-control" style="margin-bottom:
                15px;">
            <div class="form-group">
			<p>body</p>
			<input type="hidden" name="page" value="cabinet">
			<input type="hidden" name="action" value="add">
                <textarea class="form-control" name="body" rows="20"></textarea>
            </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 text-right">
                <button type="submit" class="btn btn-default">Add</button>
            </div>
        </div>
    </form>
